<h1>Information for: <%= @character.name %></h1>

<p><img src="<%= @character.photo %>", alt="photo"></p>
<p>Allies: <%= @character.allies %></p>
<p>Enemies: <%= @character.enemies %></p>
<p>Gender: <%= @character.gender %></p>
<p>Weapon(s): <%= @character.weapon %></p>
<p>Affilliation: <%= @character.affiliation %></p>